<button type="button">User name</button>
<div class="form-wraper">
  <form class="form" action="submit" autocomplete="off">
    <div class="form-field">
      <input
        id="name"
        class="form-input"
        type="text"
        name="user-name"
        minlength="2"
        required
        autofocus
        placeholder=" "
        title="Djon Smit"
      />

      <label for="name" class="form-label">Name* </label>
    </div>

    <div class="form-field">
      <input
        id="email"
        class="form-input"
        type="email"
        name="email"
        required
        placeholder=" "
      />

      <label for="tel" class="form-label">Email* </label>
      <span class="icon"></span>
    </div>
    <div class="form-field">
      <input
        id="password"
        class="form-input"
        type="password"
        name="password"
        required
        placeholder=" "
        minlength="6"
      />

      <label for="tel" class="form-label">Password* </label>
      <span class="icon"></span>
    </div>

    <button class="form-button">Sign up</button>
  </form>
</div>

<!-- <form class="form" autocomplete="off">
  <div class="form-field">
    <input
      type="text"
      class="form-input"
      name="name"
      id="name"
      placeholder=" "
    />
    <label for="name" class="form-label">Name*</label>
  </div>

  <div class="form-field">
    <input
      type="email"
      class="form-input"
      name="mail"
      id="mail"
      placeholder=" "
    />
    <label for="mail" class="form-label">Email*</label>
    <span class="icon"></span>
  </div>

  <button type="submit">Sign up</button>
</form> -->
