<div class="section bg-color-footer">
  <div class="footer-section">
    <h2 class="titel-footer">Worked on this project</h2>

    <div class="gallery">
      <ul class="list-teams">
        <li class="list-team" id="0">
          <img src="./img/footer_img/yevhen-aksonov.jpg" alt="Yevhen Aksonov" />
          <h3>
            Yevhen <br />
            Aksonov
          </h3>
          <p>Team lead</p>
        </li>
        <li class="list-team" id="1">
          <img src="./img/footer_img/oleksandr-ivashchenko.jpg" alt="Ivashchenko Oleksandr" />
          <h3>
            Ivashchenko<br />
            Oleksandr
          </h3>
          <p>Scrum master</p>
        </li>
        <li class="list-team" id="2">
          <img src="./img/footer_img/ania-kurtiak.jpg" alt="Ania Kurtiak" />
          <h3>
            Ania<br />
            Kurtiak
          </h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="3">
          <img src="./img/footer_img/kate-zaharova.jpg" alt="Kate Zaharova" />
          <h3>
            Kate<br />
            Zaharova
          </h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="4">
          <img src="./img/footer_img/artem-khudokonenko.jpg" alt="Artem Khudokonenko" />
          <h3>
            Artem<br />
            Khudokonenko
          </h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="5">
          <img src="./img/footer_img/lusya-kras.jpg" alt="Lusya Kras" />
          <h3>Lusya <br />Kras</h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="6">
          <img src="./img/footer_img/igor-volk.jpg" alt="Igor Volk" />
          <h3>Igor <br />Volk</h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="7">
          <img src="./img/footer_img/viktoriia-sukhara.jpg" alt="Viktoriia Sukhara" />
          <h3>Viktoriia <br />Sukhara</h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="8">
          <img src="./img/footer_img/oleksander-sharyak.jpg" alt="Oleksander Sharyak" />
          <h3>
            Oleksander<br />
            Sharyak
          </h3>
          <p>Team developer</p>
        </li>
        <li class="list-team" id="9">
          <img src="./img/footer_img/svitlana-trotsenko.jpg" alt="Svitlana Trotsenko" />
          <h3>
            Svitlana<br />
            Trotsenko
          </h3>
          <p>Team developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
