<div class="conteiner-header">
  <div class="header header-section">
    <nav class="nav">
      <a href="./index.html" class="logo"></a>
      <ul class="nav-list">
        <li>
          <a href="./index.html" class="home-page"><span>HOME</span></a
          ><!-- ./page-2.html -->
        </li>
        <li>
          <a href="./shopping-list.html" class="shop-page"
            ><span>SHOPPING LIST</span>
            <svg width="20px" height="20px">
              <use
                href="./img/spryte.svg#icon-cart"
                width="20px"
                height="20px"
              ></use>
            </svg>
          </a>
          <!-- ./page-3.html -->
        </li>
      </ul>
    </nav>

    <div class="wrap-sing">
      <!--style="display: none"-->
      <label class="switch">
        <input type="checkbox" id="switchMode" />
        <span class="slider round"></span>
      </label>
      <button class="burger-open-mob">
        <svg class=" " width="28px" height="28px">
          <use
            width="28px"
            height="28px"
            href="./img/spryte.svg#icon-burger"
          ></use>
        </svg>
      </button>
      <button class="burger-close-mob">
        <svg class=" " width="28px" height="28px">
          <use
            width="28px"
            height="28px"
            href="./img/spryte.svg#icon-close"
          ></use>
        </svg>
      </button>
      <button class="but-sing sing-wrap" data-sign-up>
        <span class="user-sing">Sign up</span>
        <svg class="arrow-right-wrap">
          <use
            width="20px"
            height="20px"
            stroke="#EAC645"
            href="./img/spryte.svg#icon-arrow-right"
          ></use>
        </svg>
      </button>
    </div>
    <div class="wrap-out log-out-wrap" style="display: none">
      <a href="#" class="menu-btn">
        <span class="user-image">
          <img src="./img/noimage.png" alt="user-image" />
        </span>

        <span class="user-text">Stephen</span>
        <svg class="daun-wrap">
          <use
            width="23px"
            height="26px"
            fill="white"
            href="./img/spryte.svg#icon-dropdown"
          ></use>
        </svg>
      </a>
      <a href="#" class="log-out-btn tupe-out"
        ><!-- dds -->
        <span class="text-out">Log out</span
        ><svg class="arrow-right-wrap">
          <use
            width="20px"
            height="20px"
            stroke="#EAC645"
            href="./img/spryte.svg#icon-arrow-right"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="burger-section">
  <div class="mob-menus">
    <div class="menu-dagraund"></div>
    <button class="but-sing-mob sing-wrap" data-sign-up>
      <span class="user-sing">Sign up</span>
      <svg class="arrow-right-wrap">
        <use
          width="20px"
          height="20px"
          stroke="#EAC645"
          href="./img/spryte.svg#icon-arrow-right"
        ></use>
      </svg>
    </button>
    <div class="log-out-wrap">
      <a href="#" class="menu-btn-user">
        <span class="user-image">
          <img src="./img/noimage.png" alt="user-image" />
        </span>
        <span class="user-text">Stephen</span>
      </a>
      <ul class="nav-list-mob">
        <li>
          <a href="./index.html" class="home-page"><span>HOME</span></a
          ><!-- ./page-2.html -->
        </li>
        <li>
          <a href="./shopping-list.html" class="shop-page"
            ><span>SHOPPING LIST</span>
            <svg>
              <use
                href="./img/spryte.svg#icon-cart"
                width="20px"
                height="20px"
              ></use>
            </svg> </a
          ><!-- ./page-3.html -->
        </li>
      </ul>
      <a href="#" class="tupe-out-mob log-out-btn">
        <span class="text-out log-out-wrap">Log out</span
        ><svg class="arrow-right-wrap">
          <use
            width="20px"
            height="20px"
            stroke="#EAC645"
            href="./img/spryte.svg#icon-arrow-right"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</div>
