<header class="header">
  <nav class="nav">
    <a href="../index.html" class="logo">Bookshelf</a>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">HOME</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">SHOPPING LIST</a>
      </li>
    </ul>
    <label class="switch">
      <input type="checkbox" id="switchMode" />
      <span class="slider round"></span>
    </label>
  </nav>
  <select name="" id="">
    Sing up
  </select>
</header>
