<section class="section">
  <div class="books-category">
    <h2>All categories</h2>
    <ul>
        <li>Combined Print and E-book Fiction</li>
        <li>Combined Print & E-book Nonfiction</li>
        <li>Hardcover fiction</li>
        <li>Hardcover nonfiction</li>
        <li>Paperback trade fiction</li>
        <li>Paperback nonfiction</li>
        <li>Advice, how-to & Miscellaneous</li>
        <li>Children’s middle grade hardcover</li>
    </ul>
  </div>
  <div class="support-ukr"></div>
  <div class="books-showcase"></div>
</section>
