<section class="section category-section">
  <div class="container category-container">
    <div class="wrapper-for-categoryList-support">
      <div class="books-category">
        <ul class="js-category-list">
          <li class="js-category-item category-hover" name="allCategories"></li>
        </ul>
      </div>
      <div class="support-ukr">
        <load ="partials/support.html" />
      </div>
    </div>

    <div class="container books-showcase-container">
      <span class="loader" style="display: none"></span>
      <div class="books-showcase"></div>
    </div>

    <div id="scrollTop" class="isShowBtn isShowBtn_hide">
      <load ="partials/scrollTop.html" />
    </div>
  </div>
</section>
