<section class="section category-section">
  <div class = "container category-container">
    <div class="wrapper-for-categoryList-support">
        <div class="books-category">
            <ul class="js-category-list">
                <li class="js-category-item category-hover" name="allCategories"></li>
            </ul>
        </div>
        <div class="support-ukr">
            <h2>Support Ukraine</h2> <!--заглушка для розмітки-->
        </div>
    </div>
   
    <div class="books-showcase"></div>
  </div>
    
</section>



