<div class="support-wrapper">
  <div class="support-name">
    <h2 class="support-title">Support Ukraine</h2>
    <svg class="support-symb" width="20" height="32">
      <use href="./img/spryte.svg#icon-text-symb"></use>
    </svg>
  </div>

  <ul class="support-list" id="links">
    <li class="support-item">
      <a href="#" title="Save the Children" class="support-a"
        ><span class="support-number">01</span
        ><img
          class="support-img"
          srcset="./img/01-2x.png 2x, ./img/01.png 1x"
          src="./img/01.png "
          alt="Save the Children"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="Project HOPE" class="support-a"
        ><span class="support-number">02</span
        ><img
          class="support-img"
          srcset="./img/02-2x.png 2x, ./img/02.png 1x"
          src="./img/02.png "
          alt="Project HOPE"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="International Medical Corps" class="support-a"
        ><span class="support-number">03</span
        ><img
          class="support-img"
          srcset="./img/03-2x.png 2x, ./img/03.png 1x"
          src="./img/03.png "
          alt="International Medical Corps"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="RAZOM" class="support-a"
        ><span class="support-number">04</span
        ><img
          class="support-img"
          srcset="./img/04-2x.png 2x, ./img/04.png 1x"
          src="./img/04.png"
          alt="RAZOM"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="Action against hunger" class="support-a"
        ><span class="support-number">05</span
        ><img
          class="support-img"
          srcset="./img/05-2x.png 2x, ./img/05.png 1x"
          src="./img/05.png"
          alt="Action against hunger"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="Serhiy Prytula Charity Foundation" class="support-a"
        ><span class="support-number">06</span
        ><img
          class="support-img"
          srcset="./img/06-2x.png 2x, ./img/06.png 1x"
          src="./img/06.png"
          alt="Serhiy Prytula Charity Foundation"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="UNITED24" class="support-a"
        ><span class="support-number">07</span
        ><img
          class="support-img"
          srcset="./img/07-2x.png 2x, ./img/07.png 1x"
          src="./img/07.png"
          alt="UNITED24"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="Medicins Sans Frontieres" class="support-a"
        ><span class="support-number">08</span
        ><img
          class="support-img"
          srcset="./img/08-2x.png 2x, ./img/08.png 1x"
          src="./img/08.png"
          alt="Medicins Sans Frontieres"
          height="32"
      /></a>
    </li>
    <li class="support-item">
      <a href="#" title="World vision" class="support-a"
        ><span class="support-number">09</span
        ><img
          class="support-img"
          srcset="./img/09-2x.png 2x, ./img/09.png 1x"
          src="./img/09.png"
          alt="World vision"
          height="32"
      /></a>
    </li>
  </ul>
  <button class="support-btn-down">
    <svg width="38" height="38">
      <use href="./img/spryte.svg#icon-scroll-down"></use>
    </svg>
  </button>
  <button class="support-btn-up" style="display: none">
    <svg width="38" height="38">
      <use href="./img/spryte.svg#iсon-scroll-up"></use>
    </svg>
  </button>
</div>
