<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <div class="support-ukr">
        <span class="support-name">
        <h2 class="support-text">Support Ukraine</h2>
        
            <svg class="support-symb" width="20" height="32">
            <use href="../img/spryte.svg#icon-text-symb"></use>
          </svg>
        </span>
        <ul class="support-list-container collapsed" id="links">
            <li class="support-list "><a href="# " title="Save the Children " class="support-a "><span class="support-number ">01</span><img class="support-img " src="../img/01-2x.png " alt=" "  height="32 "></a></li>
            <li class="support-list "><a href="# " title="Project HOPE " class="support-a "><span class="support-number ">02</span><img class="support-img " src="../img/02-2x.png " alt=" " height="32 "></a></li>
            <li class="support-list "><a href="# " title="International Medical Corps " class="support-a "><span class="support-number ">03</span><img class="support-img " src="../img/03-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="RAZOM " class="support-a "><span class="support-number ">04</span><img class="support-img " src="../img/04-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="Action against hunger " class="support-a "><span class="support-number ">05</span><img class="support-img " src="../img/05-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="Serhiy Prytula Charity Foundation " class="support-a "><span class="support-number ">06</span><img class="support-img " src="../img/06-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="UNITED24 " class="support-a "><span class="support-number ">07</span><img class="support-img " src="../img/07-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="Medicins Sans Frontieres " class="support-a "><span class="support-number ">08</span><img class="support-img " src="../img/08-2x.png " alt=" "height="32 "></a></li>
            <li class="support-list "><a href="# " title="World vision " class="support-a "><span class="support-number ">09</span><img class="support-img " src="../img/09-2x.png " alt=" "height="32 "></a></li>
        </ul>
        <button type="button" class="support-scroll">
            <svg width="38" height="38">
                <use href="../img/spryte.svg#ikon-scroll-up"></use>
            </svg>
            <svg width="38" height="38" style="display:none;">
                <use href="../img/spryte.svg#icon-scroll-down"></use>
            </svg>
        </button>
    </div>
    <script src="../js/support-js/support-js.js "></script>
</body>

</html>