:root {
  --light-gray: #B4AFAF;
  --theme-light: #F6F6F6;
  --card-set-gap: 25px;
}

.category-section {
  background-color: var(--theme-light);
}

.category-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.dark-theme .category-section {
  background-color: var(--gray);
}

@media screen and (min-width: 320px) {
  .category-container {
    margin-left: auto;
    margin-right: auto;
  }

  .books-category {
    width: 335px;
    height: 228px;
    overflow: auto;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .js-category-item {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    font-family: inherit;
    display: block;
    height: 24px;
    cursor: pointer;
  }

  .js-category-item:hover {
    color: var(--violet);
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    text-transform: uppercase;
  }

  .js-category-item:last-child {
    margin-bottom: 0;
  }

  .dark-theme .js-category-item {
    color: var(--light-gray);
  }

  .dark-theme .js-category-item:hover {
    color: var(--yellow);
  }

  .category-hover {
    color: var(--violet);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    cursor: pointer;
  }

  .dark-theme .category-hover {
    color: var(--yellow);
  }

  .titleCategory {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .dark-theme .titleCategory {
    color: var(--white);
  }

  .last-word-in-catName {
    color: var(--violet);
  }

  .categoryName {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-gray);
    margin-bottom: 18px;
  }

  .img-category {
    display: block;
    height: 485px;
    width: 335px;
  }

  .wrapper-for-catList {
    display: flex;
    width: 335px;
    overflow: hidden;
    object-fit: fill;
  }

  .books-showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .category-list {
    display: flex;
  }

  .wrapper {
    width: 335px;
  }

  .thumb-category {
    border: none;
    outline: none;
    border-radius: 8%;
    overflow: hidden;
    object-fit: fill;
  }

  .catalogue-book-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--black);
    margin-top: 14px;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .dark-theme .catalogue-book-title {
    color: var(--white);
  }

  .catalogue-book-author {
    font-style: italic;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    color: var(--light-gray);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .btnSeeMore {
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 14px 28px;
    border-radius: 40px;
    border: 2px solid var(--violet);
    font-family: inherit;
    color: var(--black);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    font-weight: 800;
    align-self: flex-end;
  }

  .dark-theme .btnSeeMore {
    color: var(--white);
    background-color: var(--gray);
  }


  .category-book-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.dark-theme .loader::before {
  border-color: var(--white);
}