.body {
    background-color: #f6f6f6;
}

.category-container {
    width: 100%;
    /* padding-left: 20px;
  padding-right: 20px; */
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    .category-container {
        width: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .books-category {
        width: 335px;
        height: 228px;
        overflow: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .js-category-item {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.12;
        letter-spacing: -0.02em;
        font-family: inherit;
        display: block;
        height: 24px;
        cursor: pointer;
    }
    .js-category-item:last-child {
        margin-bottom: 0;
    }
    .category-hover {
        color: var(--violet);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.12;
        letter-spacing: -0.02em;
        cursor: pointer;
    }
    .dark-theme .category-hover {
        color: #eac645;
    }
    /*-------------------------------*/
    .titleCategory {
        font-weight: bold;
        font-size: 32px;
        line-height: 1.18;
        letter-spacing: -0.04em;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .last-word-in-catName {
        color: var(--violet);
    }
    .categoryName {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #b4afaf;
        margin-bottom: 18px;
    }
    .img-category {
        display: block;
        height: 485px;
        width: 335px;
    }
    .wrapper-for-catList {
        display: flex;
        width: 335px;
        overflow: hidden;
        object-fit: fill;
    }
    .books-showcase {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .category-list {
        display: flex;
    }
    .wrapper {
        width: 335px;
    }
    .thumb-category {
        border: none;
        outline: none;
        border-radius: 8%;
        overflow: hidden;
        object-fit: fill;
    }
    .catalogue-book-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.12;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--black);
        margin-top: 14px;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .catalogue-book-author {
        font-style: italic;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: -0.04em;
        color: #b4afaf;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .btnSeeMore {
        margin-top: 8px;
        margin-bottom: 40px;
        padding: 14px 28px;
        border-radius: 40%;
        border: 2px solid var(--violet);
        font-family: inherit;
        color: var(--black);
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.28;
        letter-spacing: -0.01em;
        font-weight: 800;
        align-self: flex-end;
    }
    .category-book-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}