/*-------tab-------*/
@media screen and (min-width: 768px) {
  .category-container {
    width: 768px;
  }

  .wrapper-for-categoryList-support {
    display: flex;
    padding-top: 40px;
    margin-bottom: 100px;
  }

  .books-showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .wrapper-for-catList {
    display: flex;
    width: 704px;
    overflow: hidden;
    object-fit: fill;
  }

  .category-list {
    display: flex;
    gap: var(--card-set-gap);
  }

  .wrapper {
    width: 218px;
  }


  .btnSeeMore {
    margin-right: 25px;
  }

  .books-category {
    width: 337px;
    height: 472px;
    margin-right: 32px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .js-category-item {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .titleCategory {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin-top: 0;
  }

  .thumb-category {
    display: flex;
    margin-right: 0;
  }

  .img-category {
    display: block;
    height: 316px;
    width: 218px;
  }

  .category-book-wrapper {
    display: flex;
    gap: var(--card-set-gap);
  }

  .category-book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 25px;
  }

  /* Loader */
}

/*--------desktop-------*/

@media screen and (min-width: 1440px) {
  .category-container {
    display: flex;
    width: 1440px;
  }

  .wrapper-for-categoryList-support {
    display: flex;
    flex-direction: column;
  }

  .books-showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
  }

  .wrapper-for-catList {
    display: flex;
    width: 996px;
    overflow: hidden;
    object-fit: fill;
  }

  .category-list {
    display: flex;
    gap: 24px;
  }

  .wrapper {
    width: 180px;
  }


  .btnSeeMore {
    margin-top: 32px;
    margin-right: 0;

  }

  .books-category {
    width: 356px;
    height: 472px;
    margin-top: 0;
    margin-bottom: 86px;
    margin-right: 0;
  }

  .js-category-item {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .titleCategory {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin-top: 0;
  }

  .thumb-category {
    display: flex;
    margin-right: 0;
  }

  .img-category {
    display: block;
    height: 256px;
    width: 180px;
  }

  .category-book-wrapper {
    display: flex;
  }

  .category-book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 24px;
  }

}