.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;

  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0px 0px 8px 8px;
}

.logo {
  height: 28px;
  width: 110px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.home-page {
  padding: 8px 16px;

  background-color: var(--yellow);
  border-radius: 36px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.shop-page {
  display: flex;
  align-items: end;
  gap: 4px;
  padding: 8px 16px;
  font-weight: 500;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;

  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.header-shop .shop-page {
  padding: 8px 16px;
  font-weight: 700;
  background-color: var(--yellow);
  border-radius: 36px;
}
.header-shop .home-page {
  background-color: inherit;
  font-weight: 500;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round:before {
  border-radius: 50%;
}
/* /----------------------USER BUT ---------------/ */

.menu-btn {
  display: flex;

  max-width: 184px;
  height: 45px;

  border-radius: 36px;
  background: #4f2ee8;
  position: relative;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.user-icon-hed {
  display: block;
  background-color: #fff;
  width: 37px;
  height: 37px;
  margin-right: 9px;
  padding: 9px 9px 9px 9px;
  border-radius: 50%;
}
.user-text {
  width: 87px;
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}
.daun-wrap {
  width: 23px;
  height: 26px;
  margin-left: 4px;
}
.sing-wrap {
  display: flex;
  gap: 24px;
  align-items: center;
}
.but-sing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  padding-left: 14px;
  padding-right: 14px;
}
.arrow-right-wrap {
  width: 20px;
  height: 20px;
}
.user-sing {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
/*------------HIDEN--------*/
.log-out-wrap {
  position: absolute;
  display: block;
  right: 24px;
  width: 184px;
  opacity: 0;
  pointer-events: none;
}

/*-------------------*/
.tupe-out {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform-origin: top center;
  transition: 0.5s;
  transform: translateY(-10%);
  opacity: 0;
  height: 48px;
  gap: 90px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0px;
}
.text-out {
  color: #111;
  font-family: DM Sans;
  width: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
.tupe-out_active {
  transform: scaleY(1) translateY(0%);
  opacity: 1;
}
.burger-open-mob {
  display: none;
}
/* ---------------------------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 768px) {
  .header {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav {
    gap: 40px;
  }
  .nav-list {
    gap: 0px;
  }
  .log-out-wrap {
    right: 32px;
  }
  .burger-open-mob {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 376px) {
  .nav-list {
    display: none;
  }
  .but-sing {
    display: none;
  }

  .burger-open-mob {
    display: block;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
  }
}
