.modal-window-conteiner {
    width: 335px;
    height: 100%;
    border-radius: 18px;
    border: 2px solid #111;
    background: #FFF;
    padding: 40px 24px;
    margin: 0 auto;
}

.book-img-modal-window {
    width: 287px;
    height: 408px;
}

.book-title-modal {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 4px;
}

.author-modal-window {
    color: #B4AFAF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.48px;
    margin-bottom: 18px;
}

.desc-modal-window {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 14px;
}

.add-btn-modal-window {
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
}

.markets-list-modal-window {
    display: flex;
    gap: 20px;
    height: 36px;
    align-items: center;
}

@media screen and (min-width: 428px) {
    .modal-window-conteiner {
        width: 579px;
        padding: 40px;
    }

    .mw-content-conteiner {
        display: flex;
        gap: 24px;

    }

    .book-img-modal-window {
        width: 100%;
        height: 281px;
    }

    .book-title-modal {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.96px;
    }

    .author-modal-window {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.56px;
    }

    .add-btn-modal-window {
        display: flex;
        width: 499px;
        padding: 20px 143px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.18px;
        margin-left: auto;
        margin-right: auto;
    }

    .mw-data-conteiner {
        max-width: 279px;
    }
}