@media screen and (max-width: 1280px) {
  .supportq {
    display: none;
    /* отрисовать суппорт при  загрузке и скрыть */
  }
}

.body {
  background: #f6f6f6;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-list {
  padding-top: 40px;
}

.list-title {
  margin: 0;
  margin-bottom: 120px;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.list-span {
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.list-text {
  width: 244px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.content {
  margin-left: auto;
  margin-right: auto;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  height: 198px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .list-title {
    font-family: DM Sans;
    font-size: 48px;
    line-height: 1.083;
    margin-bottom: 140px;
  }
  .list-text {
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 20px;
  }
  .list-span {
    font-size: 48px;
    line-height: 1.08;
  }
  .img {
    width: 322px;
    height: 241px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  /* показать суппорт */

  .supportq {
    width: 356px;
    height: 474px;
    background-color: #4f2ee8;
  }

  .container-shoplist {
    display: flex;
    gap: 40;
  }
  .content {
    margin-left: 40px;
    width: 100%;
  }
}
