/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./normalize.css');
@import url('./fonts.css');
@import url('./reset.css');
@import url('./shopping-list.css');
@import url('./styles_paganation.css');
@import url('./support.css');
:root {
    --black: #111111;
    --gray: #202024;
    --violet: #4f2ee8;
    --yellow: #eac645;
    --white: #ffffff;
}