/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./normalize.css');
@import url('./fonts.css');
@import url('./reset.css');
@import url('./shopping-list.css');
@import url('./support.css');
@import url('./paganation.css');
@import url('./category.css');
@import url('./category-tab.css');
@import url('./paganation.css');
@import url('./header.css');
@import url('./modal-window.css');
@import url('./authorization.css');
@import url('./footer.css');
@import url('./scrollTop.css');
:root {
    --black: #111111;
    --gray: #202024;
    --violet: #4f2ee8;
    --yellow: #eac645;
    --white: #ffffff;
    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}